/* tablets in landscape mode 768-1023 */
@media only screen and (max-width: 1200px) {

}
/* tablets in landscape mode 768-1023 */
@media only screen and (max-width: 1023px) {
  h1.display-3{  font-size: 240%  }

}
/* small phones to small tablets 481-767px */
@media only screen and (max-width: 767px) {
  #headline-copy{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;}
  #headline, #cta{text-align: center;}
  #headline-img{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;}
  #headline-copy .lead{font-size: 100%;}
  .sub-heading{
    font-size: 120%;
    text-align: center;
  }
  .skill-img {
    width: 150px;
    height: auto;
  }
  .other-skills{
    padding:0;
  }
  footer {
    text-align: center;
  }
}
/* small phones 0-480px*/
@media only screen and (max-width: 480px) {
  #headline-copy{min-width: 360px;}
  .skill-img {
    width: 50%;
    height: auto;
  }
}
