* {
  /*margin: 0;
  padding: 0;*/
  box-sizing: border-box;
}


body {
  position:relative;
  color: #4f4f4f;
  font-size: 18px;
}
/* ---------- reusables ------------- */

.divider {
  width: 20%;
  height: 4px;
  margin: 15px auto;
  background-color: rgb(230, 156, 30);
}
.section-header{
  padding-top: 60px;

}

.section-header h2.display-4{
  font-size: 250%;
}
.container{

  min-height:100%;
}

/* ---------- navbar ------------- */
#navbar{
  min-height: 61px;
  padding: 8px 16px;
}
/* ---------- headline section ------------- */
.jumbotron {
  position:relative;
  margin-top: 61px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  /*min-height: 100vh;*/
}
#headline {
  display:flex;
  flex-wrap: wrap;
}
#headline-copy{
  flex:2;
  min-width: 490px;
}
#headline-copy .lead{
  font-size: 130%;
}
#headline-img{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  height: 270px;
  border-radius: 50%;
  min-width: 200px;
}

/* ---------- about section ------------- */

#about, #skills, #projects, #contact{
  min-height:100vh;
}

.about-copy, .skills-copy{
  line-height: 160%;
  padding-bottom:25px;
}

/* ---------- about section ------------- */

#skills{
  background-color: #dedede;
  display: flex;
}
.skills-copy{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}
.skills-item{
  flex: 1;
  margin-bottom: 20px;
}
/* ---------- Projects ------------- */
.projects-window{
  justify-content: center;
}
.project-card{
  margin-bottom: 20px;
  max-width: 300px;
  flex: 1 0 30% !important;
}
.card-footer{
  width: 100%;
  margin-top: 10px;
}
.card-block{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  height: 100%;
}
.card-text{
  flex: 3;
  align-self: flex-start;
}
.card-btn{
  flex: 1;
  flex-grow: 0;
  height:45px;
  width: 100%;
  align-self: flex-end;
}

/* ---------- contact ------------- */

#content{
  resize: none;
  overflow: auto;
  height: 200px;

}

/* ---------- footer ------------- */


footer {
  background-color: #333;
  padding: 20px;
  font-size: 90%;
}

.footer-nav {
  float: left;
}
.social-links {
  list-style: none;
}
.social-links li {
  display: inline-block;
  padding-right: 20px;
  font-size: 100%;
}



.footer-nav a:link,
.social-links li a:link,
.footer-nav a:visited,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color .25s ease;
}
.social-links li a:link,
.social-links li a:visited {
  font-size: 140%
}

.ion-social-facebook:hover {
  color: #3b5998;
}
.ion-social-github:hover {
  color: #e95950;
}
.ion-social-linkedin:hover {
  color: #007bb5;
}


.ion-social-facebook,
.ion-social-linkedin,
.ion-social-github {
  transition: color .25s ease;
}


.footer-nav a:hover,
.footer-nav a:active {
  color: #ccc;
}

.footer-text, .copyright {
  color: #909090;
}

.copyright {
  padding-bottom: 15px;
}
