
html, body {
	background-color: #475E7F; /*dark blue*/
	height:100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}

p,a,li{
	font-family: 'Noto Serif', serif;
	font-size:14px;
	text-decoration:none;
}

.wrapper {
	width: 960px;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin: 0px auto -60px;
	background-color:white;
	overflow:auto;
	/*background-color:#DAE9FF; light blue*/
}
.entrys{
	width:720px;
	float:left;
}
.blog article{
	width:940px;
	margin:10px;
	float:left;
}

article h2{
	clear:both;
}

.entrys article:hover{
	/*background-color:#E5E0BC; brown*/
	background-color:#96FFAE;
	border-style:outset;
	
}

.entrys article{
	border:2px solid grey;
	background-color:#DAE9FF;
	border-radius: 10px;
	margin:10px;
	overflow:auto;
}
.entrys article *{
	margin: 5px 10px 5px 10px;
	
}

header{
	margin: 10px;
	overflow:auto;
}

header img{
	float:left;
	margin:10px 0px 10px 0px;
}

header h1{
	font-size:42px;
	text-align:center;
	margin:15px 0px 10px 0px;
}

nav{
   clear:both;
   
}


nav ul{
	margin:0px;
	padding:10px;
	text-align:center;
	border-bottom: 2px solid;
	overflow:hidden;
	background-color:#8EBCFF;
}

nav li{
	display: inline;
	padding: 10px 20px 10px 20px;
	font-family: 'Montserrat', sans-serif;
}
li a{
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
}

nav li:hover{
	background-color:#DAE9FF;
}

.current{
	background-color:#96FFAE;
}

article {
	width:700px;
	margin:10px;
	background-color:white;
	/* background-color:#DAE9FF; */
}

article p{
	text-align:justify;
}

article img{
	display:block;
	margin: 0px auto;
}

.entrys img{
	width:150px;
	margin:5px;
	float:left;
}


aside{
	width: 200px;
	margin: 0px 5px 0px 5px;
	padding: 10px;
	float:right;
	clear:none;
	background-color:#FEFF5C;
	border-top-left-radius:70px 30px;
	border:2px solid;
	border-right:5px solid black;
	border-bottom:5px solid black;
	text-align:justify;
}

footer{
	width:960px;
	margin:0px auto;
	background-color:#8EBCFF;
}
footer, .push{
	height:60px;
	clear:both;
}

footer span{
	position:relative;
	top:20px;
	left:5px;
}

.social{
	margin:5px;
	float:right;
	
}

.code{
	background-color:#CCE2E5;
	border: 2px solid red;
	border-radius:8px;
	padding: 0px 3px 2px 3px;
	font-weight:bold;
	color:red;
	
}
.cap{
	font-size:20px;
	font-weight:bold;
}
#exp{
	font-size:72px;
	text-align:center;
}
.codeblk{
	line-height:2em; 
}
.align-left{
	float:left;
}
.blog img{
	padding:5px;
}

hgroup{
	border-bottom:4px solid;
}

figcaption {
	text-align:center;
	font-weight:bold;
}