
body {
	background-color: #475E7F;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}

p,a,li{
	font-family: 'Noto Serif', serif;
	font-size:14px;
}

.wrapper {
	border-radius:20px;
	width: 960px;
	margin: 0px auto 0px auto;
	background-color:#DAE9FF;
}
.entrys{
	width:720px;
	float:left;
}


header{
	margin: 10px;
	overflow:auto;
}

header img{
float:left;
margin:10px 0px 10px 0px;
}

header h1{
	font-size:42px;
	text-align:center;
	margin:10px 0px 10px 0px;
}

nav{
   clear:both
   
}


nav ul{
	margin:0px;
	padding:10px;
	text-align:center;
	border-bottom: 2px solid;
	overflow:hidden;
	background-color:#8EBCFF;
}

nav li{
	display: inline;
	padding: 10px 20px 10px 20px;
}


article {
	width:700px;
	margin:10px;
	background-color:#DAE9FF;
}

article p{
	text-align:justify;
}

article img{
	display:block;
	margin: 0px auto;
}


aside{
	width: 200px;
	margin: 0px 5px 0px 5px;
	padding: 10px;
	float:right;
	clear:none;
	background-color:#FEFF5C;
	border-top-left-radius:70px 30px;
	border:2px solid;
}

footer{
	border-radius:20px;
	height:60px;
	clear:both;
	margin:0px;
	background-color:#8EBCFF;
}

footer span{
	position:relative;
	top:20px;
	left:5px;
}

.social{
	margin:5px;
	float:right;
	
}