
html, body {
	background-color: #475E7F; /*dark blue*/
	height:100%;
	/*font-family: 'Shadows Into Light', cursive;*/
	font-family: 'Rock Salt', cursive;
	font-size:14px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

p,a,li{
	/*font-family: 'Shadows Into Light', cursive;*/
	font-family: 'Rock Salt', cursive;
	font-size:18px;
	text-decoration:none;
}

.wrapper {
	width: 960px;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin: 0px auto -60px;
	/*background-color:white;*/
	overflow:auto;
	background-image: url("../imgs/paper-background.gif");
	/*background-color:#DAE9FF; light blue*/
}
.basic, .enum, .other{
	float: left;
	border-width: 5px;
	border-radius: 15px;
	border-style: solid;
	
}
.basic{
	border-color: green;
}

.enum{
	border-color: blue;
}

.other{
	border-color: red;
}

dt {
	margin-left:5px;
	font-style:bold;
}

dd {
	margin-right: 5px;
}

article h2{
	clear:both;
	margin-left: 5px;
}


header{
	margin: 10px;
	overflow:auto;
}

header img{
	float:left;
	margin:10px 0px 10px 0px;
}

header h1{
	font-size:42px;
	text-align:center;
	margin:15px 0px 10px 0px;
}

nav{
   clear:both;
   font-size:14px;
   
}


nav ul{
	margin:0px;
	padding:10px;
	text-align:center;
	border-bottom: 2px solid;
	overflow:hidden;
	background-color:#8EBCFF;
}

nav li{
	display: inline;
	padding: 10px 20px 10px 20px;
	font-family: 'Montserrat', sans-serif;
}
li a{
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
}

nav li:hover{
	background-color:#DAE9FF;
}

.current{
	background-color:#96FFAE;
}

article {
	width:30%;
	margin:1.2%;
	background-color:white;
	background:rgba(255,255,255,0.6);
	display: inline-block;
	/* background-color:#DAE9FF; */
}

article p{
	text-align:justify;
}

article img{
	display:block;
	margin: 0px auto;
}

.entrys img{
	width:150px;
	margin:5px;
	float:left;
}



footer{
	width:960px;
	margin:0px auto;
	background-color:#8EBCFF;
	
}

footer a{
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
}

footer, .push{
	height:60px;
	clear:both;
}

footer span{
	position:relative;
	top:20px;
	left:5px;
}

.social{
	margin:5px;
	float:right;
	
}


.align-left{
	float:left;
}

hgroup{
	border-bottom:4px solid;
	margin: 0px, 10px, 0px, 10px;
}
hgroup.about {
    width: 700px;
    margin-left: 10px;
    border-bottom: 4px solid;
}
hgroup.project {
    width: 700px;
    margin-left: 10px;
    border-bottom: 4px solid;
}

