
html, body {
	background-color: #475E7F;
	height:100%;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	margin-top:5px;
}

p,a,li{
	font-family: 'Noto Serif', serif;
	font-size:14px;
}

.wrapper {
	width: 960px;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin: 0px auto -60px;
	background-color:white;
	overflow:auto;
	/*background-color:#DAE9FF; light blue*/
}
.content{
	width:720px;
	float:left;
	background-color:white;
}


header{
	margin: 10px;
	overflow:auto;
}

header img{
	float:left;
	z-index:10;

}

header h1{
	text-align:center;
	font-size:40px;
	margin:0px;
}
header h2{
	text-align:center;
	font-size:25px;
	margin:0px;
}

nav{
   position: relative;
   top: 55px; 
   
}


nav ul{
	margin:0px;
	padding:10px;
	text-align:center;
	border-bottom: 2px solid;
	overflow:hidden;
	background-color:#8EBCFF;
	
}

nav li:hover{
	background-color:#DAE9FF;
}

.current{
	background-color:#96FFAE;
}
nav li{
	display: inline;
	padding: 10px 20px 10px 20px;
	font-family: 'Montserrat', sans-serif;
}
li a{
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
}
.main{
	width:700px;
	margin:10px;
	
}

article {
	width: 340px;
	margin: 10px;
	overflow:auto;
}

article p{
	text-align:justify;
}

article img{
	display:block;
	margin: 0px auto;
}

.dev{
	float:left;
}

.cohort {
	float:right;
}

aside{
	width: 200px;
	margin: 0px 5px 0px 5px;
	padding: 10px;
	float:right;
	clear:none;
	background-color:#FEFF5C;
	border-top-left-radius:70px 30px;
	border:2px solid;
	border-right:5px solid black;
	border-bottom:5px solid black;
	text-align:justify;
}

footer{
	width:960px;
	margin:0px auto;
	background-color:#8EBCFF;
}
footer, .push{
	height:60px;
	clear:both;
}
footer span{
	position:relative;
	top:20px;
	left:5px;
}

.social{
	margin:5px;
	float:right;
	
}